.navPrincipal{
    position: sticky;  
    top:0;
    z-index: 3;
}

.colorNav{
    background-color: #111;
}

.containerMenu{
   
    display: flex;
    justify-content: center;
}
.menu{
    color: #fff;
    margin: 0 15px;
}

.nav-link:focus, .nav-link:hover {
    color: #666;
}

.navbar-nav .nav-link.active{
    color: #666;
}

.navbar-toggler{
    background-color: #666;
    color: #666;
}

@media (max-width: 992px){
    .containerMenu{
        flex-direction: column;
    }
}